[Unit]
Description=synapsed
Requires=synapse.service
BindsTo=synapse.service

[Service]
WorkingDirectory=/opt/synapsed

User=synapse
Group=synapse

ExecStart=/bin/bash /opt/synapsed/synapsed

Type=simple

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
